* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: #d5b949; */
  background-color: black; 
}

nav {
  background-color: #000000ef; 
  padding: 20px;
  color: #ffcc00; 
  font-size: 1.5em;
  border-bottom: 5px solid #00B8F1; 
}

.riddles {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
}

.riddle {
  background-color: rgb(150, 25, 25); 
  margin: 20px;
  padding: 20px;
  border: 2px solid #ffcc00; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px; 
  color: white; 
}

.answer {
  font-weight: bold;
  color: #000000;
  background-color: #ffcc00; 
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
}

.explanation {
  font-style: italic;
  color: #ffffff; 
  background-color: #000000; 
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #000000; 
  color: #ffcc00; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

button:hover {
  background-color: #ff0000; 
  color: #ffffff; 
}

button:focus {
  outline: none;
}

nav h1 {
  font-size: 2em;
  margin: 0;
}

.riddle p {
  font-size: 1.2em;
}

.riddle .answer,
.riddle .explanation {
  margin-top: 10px;
}
